<% layout('layouts/boilerplate') -%>

<div class="row">
  <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
    <div class="form-container">
      <h1 class="form-title">Welcome Back</h1>
      <form action="/login" method="POST" class="needs-validation" novalidate>
        <div class="mb-4">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            required
            class="form-control"
            placeholder="Enter your username"
          />
        </div>

        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            required
            class="form-control"
            placeholder="Enter your password"
          />
        </div>
        <button type="submit" class="btn btn-brand">Log In</button>
      </form>

      <div class="toggle-link">
        Don't have an account? <a href="/signup">Register</a>
      </div>
    </div>
  </div>
</div>
